@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.Landing__page {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  justify-content: center;
  width: 100%;
}

.Upper__section {
  background-color: #00a884;
  height: 40vh;
  width: 100%;
}

.Container {
  align-items: center;
  display: flex;
  justify-content: left;
  margin-left: 180px;
  margin-top: 15px;
}

.Icon__Field {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.whatsapp {
  color: #90ee90;
  font-size: 45px;
}

.iconame {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.Main {
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  height: 210vh;
  position: absolute;
  width: 100%;
}

.Main__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Box__infos {
  background-color: #fff;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 20px auto;
  height: 178vh;
  width: 72vw;
}

.Section__one {
  display: flex;
  height: 70vh;
  justify-content: space-between;
  margin: 60px auto;
  width: 88%;
}

.Instructions {
  color: #3b4a5a;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Header {
  font-size: 30px;
  font-weight: 400;
}

.Steps {
  font-size: 18px;
  line-height: 2.5;
  margin-left: 5px;
}

.Smallicons {
  background-color: #eae6df;
  border-radius: 3px;
  color: #41525d;
  font-size: 23px;
  opacity: 0.5;
  padding: 4px;
}

.Para {
  align-items: center;
  display: flex;
  gap: 5px;
}

.Section__two {
  align-items: center;
  background-color: #f5f6f6;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 87vh;
}

.Head__link {
  line-height: 2;
  margin: 20px auto;
  text-align: center;
}

.Header1 {
  color: #41525d;
  font-size: 28px;
  font-weight: 400;
}

.Getlink {
  color: #008069;
  font-size: 15px;
  text-decoration: none;
}

.Getlink:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .Container {
    margin-left: 40px;
  }

  .Main {
    height: 310vh;
  }

  .Upper__section {
    background-color: #00a884;
    height: 50vh;
  }

  .Box__infos {
    height: 270vh;
    width: 90vw;
  }

  .Section__one {
    align-items: center;
    display: block;
    justify-content: center;
    height: 140vh;
  }

  .Steps {
    font-size: 17px;
  }

  .WhatsappImg {
    left: 27%;
    position: relative;
    top: 3%;
  }

  .Section__two {
    height: 105vh;
  }

  @media screen and (max-width: 425px) {
    /* .Container {
      margin-left: 40px;
    } */

    .Icon__Field {
      left: 8%;
      position: relative;
    }

    .Main__container {
      width: 100%;
    }
    
    .Main {
      height: 310vh;
      width: 95vw;
    }

    .Box__infos {
      height: 270vh;
      width: 100vw;
    }

    .Section__one {
      height: 140vh;
    }

    .Steps {
      font-size: 17px;
    }

    .WhatsappImg {
      height: 200px;
      width: 200px;
    }

    .Section__two {
      height: 105vh;
    }

    .VideoImg {
      height: 250px;
      width: 300px;
    }
  }
}
