.messages__container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-image: url("../assets/images/whats-bg.png");
  background-size: cover;
  position: relative;
  width: 55vw;
}

.messages__container form {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.messages__container form input {
  width: 100%;
  background-color: #fff;
  border: 1px solid #f5f6f6;
  color: black;
  border-radius: 8px;
  padding: 11px 10px;
}

.messages__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding-left: 10px;
  height: 50px;
  position: sticky;
}

.contactImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar__icons {
  color: gray;
  font-size: 22px;
}

.bottom__nav {
  position: absolute;
  bottom: 0;
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f2f5;
  padding-left: 10px;
  height: 55px;
}

.bottom__nav__content {
  display: flex;
  align-items: center;
  width: 98%;
  margin: auto;
  gap: 15px;
}

.icons__holder {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name {
  font-weight: 500;
  color: black;
  font-size: 19px;
}

.status {
  position: absolute;
  margin-top: 55px;
  color: rgba(20, 20, 20, 0.881);
  font-size: 15px;
  font-weight: 200;
}

.messages__name {
  position: relative;
  display: flex;
  width: 200px;
  flex-direction: column;
  margin-top: -14px;
  justify-content: center;
  line-height: 1px;
}

.contact__infos {
  display: flex;
  align-items: center;
  gap: 12px;
}

.bars {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(6, 161, 147, 1) 52%,
    rgba(5, 181, 166, 1) 55%
  );
}

.person {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(11, 145, 208, 1) 52%,
    rgba(14, 171, 244, 1) 52%
  );
}

.file {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(77, 85, 193, 1) 52%,
    rgba(95, 102, 205, 1) 52%
  );
}

.camera {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(223, 47, 107, 1) 52%,
    rgba(236, 64, 122, 1) 52%
  );
}

.sticker {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(7, 102, 203, 1) 52%,
    rgba(0, 112, 230, 1) 52%
  );
  transform: rotate(-5deg);
}

.gallerie {
  color: #fff;
  font-size: 23px;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(184, 62, 203, 1) 52%,
    rgba(191, 89, 207, 1) 52%
  );
}

.multimedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  bottom: 65px;
  margin-left: 40px;
  width: 60px;
}
