.instruction {
  width: 50%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f0f2f5;
  border-bottom: 5px solid #25d366;
  position: relative;
}

.instruction__firstcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first__containertext {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: #25d366; */
  list-style: 2.3s;
}

.first__containertext p {
  font-size: 14.8px;
  max-width: 560px;
  text-align: center;
}

.teaxtheading {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: #242527;
  margin-bottom: 9px;
}

.imgContainer {
  width: 60%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 48%;
  height: 205px;
}

.teaxtparagraph {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #667781;
}

.instruction__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #667781;
  position: absolute;
  bottom: 80px;
  gap: 3px;
}

.bottomicon {
  text-align: center;
}

@media (max-width: 768px) {
  .instruction {
    width: 55%;
  }

  .imgContainer {
    width: 90%;
    margin-bottom: 5%;
  }

  .image {
    width: 95%;
    height: 169px;
    object-fit: fill;
  }

  .first__containertext {
    width: 100%;
  }

  .teaxtparagraph {
    text-align: left;
  }

  .first__containertext p{
    text-align: left;
  }
}
